

<button type="button" (click)="switchLanguage('fr')">Français</button>
<button type="button" (click)="switchLanguage('en')">Anglais</button>

<p id="title" class="center"> {{ 'header-title' | translate:header-title }} </p>
<p> {{ 'header-description' | translate:header-description }}</p>


<app-adz-search [bookFilter]="bookFilter" ></app-adz-search>
<p>Filter : </p>
<select  type="text" [(ngModel)]="bookFilter.categories">
  <option value="">Category</option>
  <option *ngFor="let category of listCategories" value="{{category}}">{{category}}</option>
</select>
<select  type="text" [(ngModel)]="bookFilter.authors">
  <option value="">Authors</option>
  <option *ngFor="let authors of listAuthors" value="{{authors}}">{{authors}}</option>
</select>
<select class="form-control-sm" type="text" [(ngModel)]="bookFilter.language">
  <option value="">Language</option>
  <option value="ar">Arabic</option>
  <option value="fr">French</option>
  <option value="en">English</option>
</select>

<!--<select  type="text" [(ngModel)]="bookFilter.language">-->
  <!--<option value="">Language</option>-->
  <!--<option *ngFor="let language of listLanguages" value="{{language}}">{{language}}</option>-->
<!--</select>-->
<ul *ngFor="let book of listBooks | search:bookFilter.title | search:bookFilter.authors | search:bookFilter.publisher
                                  | search:bookFilter.categories | language:bookFilter.language">
  <li>{{book.volumeInfo.title}}</li>
  <li>{{book.volumeInfo.authors}}</li>
  <li>{{book.volumeInfo.language}}</li>
</ul>
