<app-adz-header></app-adz-header>

<app-adz-search [bookFilter]="bookFilter"></app-adz-search>
<div class="row">

  <p>Filter : </p>
  <select type="text" [(ngModel)]="bookFilter.categories">
    <option value="">{{ 'all-category' | translate:all-category}}</option>
    <option *ngFor="let category of listCategories" value="{{category}}">{{category}}</option>
  </select>
  <select type="text" [(ngModel)]="bookFilter.authors">
    <option value="">{{ 'authors' | translate:authors}}</option>
    <option *ngFor="let authors of listAuthors" value="{{authors}}">{{authors}}</option>
  </select>
  <select class="form-control-sm" type="text" [(ngModel)]="bookFilter.language">
    <option value="">{{ 'Language' | translate:Language}}</option>
    <option value="ar">Arabic</option>
    <option value="fr">French</option>
    <option value="en">English</option>
  </select>
</div>

<br>

<div class="column" *ngFor="let book of listBooks | search:bookFilter.title | search:bookFilter.authors | search:bookFilter.publisher
                                  | search:bookFilter.categories | language:bookFilter.language">
  <div class="row">
    <p><strong>{{ 'titre' | translate:titre}} :</strong> <span>{{book.volumeInfo.title}}</span> </p>
    <p><strong>{{ 'authors' | translate:authors}} :</strong> <span>{{book.volumeInfo.authors}}</span></p>
    <p><strong>{{ 'Language' | translate:Language}} :</strong> <span>{{book.volumeInfo.language}}</span></p>
    <button (click)="openModal(book)">Details</button>
  </div>

</div>
<app-adz-footer></app-adz-footer>




